.font-semibold {
  font-weight: 600;
}

.green-300-highlight {
  background-color: #86efac;
}

.red-300-highlight {
  background-color: #fca5a5;
}

.orange-300-highlight {
  background-color: #fdba74;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#saveButton {
  cursor: pointer;
}

a#resetButton {
  padding-left: 0.5rem;
}

input[type="text"],
input[type="submit"] {
  margin-top: 0.25rem;
}
