body {
  width: 200px;
}

.hn-ext-font-semibold {
  font-weight: 600;
}

.hn-ext-green-300-highlight {
  background-color: #86efac;
}

.hn-ext-red-300-highlight {
  background-color: #fca5a5;
}

.hn-ext-orange-300-highlight {
  background-color: #fdba74;
}

.hn-ext-hidden {
  display: none;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#saveButton {
  cursor: pointer;
}

a#resetButton {
  padding-left: 0.5rem;
}

input:not([type="checkbox"]) {
  margin-top: 0.25rem;
  width: 100%;
}
